.navigation {
  margin-top: 50px;
  .navigation_numbers {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0 !important;

    li {
      width: 25px;
      height: 25px;
      background: var(--main_color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: var(--border_color);
        color: black;
      }
    }

    .active {
      background: var(--border_color);
      color: black;
      pointer-events: none;
    }
  }
}
