@import "_header.scss";
@import "_search_panel.scss";
@import "_vacancies.scss";
@import "_navigation_pages.scss";
@import "_footer";
@import "_details";
@import "_mobile_bottom_nav";
:root {
  --main_color: rgb(19, 241, 19);
  --border_radius_btn: 10px;
  --font_family: "Montserrat", sans-serif;
  --border_color: rgb(228, 228, 228);
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--font_family);
  box-sizing: border-box;
}

::selection {
  color: black;
  background: var(--main_color);
}
a {
  all: unset !important;
}
ul {
  list-style: none;
}

.dark_body {
  background-color: rgb(14, 14, 26);
  // background-color: #001f00;
  color: white;
}

@keyframes leftToRight {
  from {
   transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
